[Unit]
Description=primasaver_conection Service

[Service]
Type=simple
ExecStart=/home/primasaver2/initAndRun
SyslogIdentifier=primasaver_main

[Install]
WantedBy=multi-user.target

